 
 
 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tilt Neon', cursive;
    overflow-x: hidden;
}




li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}


.active{
    display: block;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}


@import'base/mixin';
@import'base/variables';


@import'block/header';
@import'block/about';
@import'block/skills';
@import'block/denis';
@import'block/portfolio';
@import'block/contacts';



@import'block/title';
@import'block/btn';

@import'base/media';





